<div class="container">
  <section>
    <div class="games-row">
      <h1 class="display-6 pb-3 mb-3 border-bottom text-uppercase">Top Juegos</h1>
      <app-games-carousel [games]="hotGames" [items]="4" [autoplay]="true" [isLoading]="isLoading" />
    </div>
    <div class="games-row">
      <h1 class="display-6 pb-3 mb-3 border-bottom text-uppercase">Juegos Nuevos</h1>
      <app-games-carousel [games]="newGames" [items]="6" [isLoading]="isLoading" />
      <app-games-carousel [games]="newGames2" [items]="6" [isLoading]="isLoading" />
    </div>
    <div class="games-row">
      <app-categories-grid />
    </div>
    <hr>
    <h3 class="mt-4 text-uppercase">JUEGA GRATIS ONLINE EN Juegos.com.py</h3>
    <br>
    <p>En Juegos.com.py puedes jugar online completamente gratis desde tu navegador web. En nuestro sitio web encontrarás títulos divertidos para toda la familia, para jugar desde cualquier dispositivo: Computadora, tablet o smartphone. Diviértete con la mayor colección online en varias categorías.</p>
    <p>Agregamos títulos nuevos cada día, y nos renovamos constantemente. Si deseas divertirte a lo grande, recuerda que pensamos en ti porque escogemos uno a uno los videojuegos publicados para garantizarte horas de diversión. Te aseguramos que no te aburrirás porque verás recomendaciones generadas automáticamente para jugar a diario.</p>
    <p>Te ofrecemos las categorías de juegos más divertidas y populares, donde encontrarás clasificado el contenido. Están los juegos de aventuras, juegos de acción, juegos de estrategia, los divertidos Juegos Friv, juegos de cocina y muchos más. Puedes navegar por todas las categorías disponibles para decidir cuál juego quieres jugar, o puedes usar nuestro buscador ubicado en la cabecera para encontrar minijuegos de una manera sencilla y rápida</p>
    <p>Juega todos los días y disfruta de la mejor diversión para todo mundo. Tengas la edad que tengas, te aseguramos que vivirás momentos increíbles llenos de entretenimiento. Cada día publicamos títulos nuevos para que puedas jugar siempre algo diferente.</p>
    <strong>¿Quieres jugar un juego divertido?</strong>
    <p class="mt-2">Nuestros <strong>juegos online</strong> están diseñados para ser entretenidos y divertidos. No solo pueden ser divertidos, sino que incluso pueden ser gratificantes, ya que ayudan a desarrollar habilidades críticas de lectura, escritura, lógica, lingüística, matemáticas y otras habilidades mientras se juega en línea. Los jugadores mejorarán sus habilidades de coordinación mano-ojo y el trabajo en equipo.</p>
    <strong>Para todas las edades</strong>
    <p class="mt-2">Tenemos en nuestra página de juegos el juego ideal para todas las edades y nos hemos asegurado de mantener solamente los más divertidos y fáciles de jugar, de esa manera puedes disfrutar más tiempo sin estresarte. Cuanto más juegas, más habilidades y conocimientos puedes desarrollar. ¡Las posibilidades son infinitas!</p>
    <strong>Diversión en tu computadora, smartphone o tablet</strong>
    <p class="mt-2">¡Así es! Puedes divertirte en cualquier dispositivo, ya que nuestros títulos son perfectamente compatibles con computadoras, smartphones o tablets. Juega donde quieras. Si prefieres una silla cómoda y un mouse, juega desde tu computadora. Elije cualquier dispositivo que se adapte a tu estilo de juego.</p>
    <strong>¿De viaje?</strong>
    <p class="mt-2">Ya sea que vayas en un viaje largo por carretera o a la práctica de fútbol, o simplemente necesitas un descanso y divertirte en el camino, jugar videojuegos es la manera perfecta de mantener el cerebro ocupado trabajando. Concéntrate en resolver problemas y superar niveles. A diferencia de algunas películas y series, esto es ideal para el aprendizaje y desarrollo mental.</p>
    <strong>Un sitio confiable y seguro</strong>
    <p class="mt-2">Confía en nosotros, te ofrecemos un sitio confiable y seguro para divertirte. No necesitas descargar nada, tan solo disfruta jugando desde tu navegador web. Tenemos el juego perfecto para tu estilo, pero, no tienes por qué elegir solo uno, habiendo una enorme cantidad disponible, todos divertidos y recomendables.</p>
  </section>
</div>