<div class="container">
  <section>
    <a href="/">
      <button type="button" class="btn btn-primary text-uppercase mb-3 px-3">
        <i class="bi bi-arrow-left"></i>
        atrás
      </button>
    </a>
    <h1 class="mt-4 text-uppercase">Política de Privacidad</h1>
    <br>
    <p>En juegos.com.py, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la información personal que obtengamos a través de nuestro sitio web.</p>
    <p><strong>Información Recopilada:</strong></p>
    <p>Recopilamos información personal como nombre, dirección de correo electrónico y edad cuando los usuarios se registran en nuestro sitio o participan en actividades específicas.</p>
    <p>También recopilamos información no personal, como direcciones IP, tipo de navegador, páginas visitadas y tiempo de permanencia en el sitio, para mejorar la experiencia del usuario y realizar análisis de tendencias.</p>
    <p><strong>Uso de la Información:</strong></p>
    <p>Utilizamos la información recopilada para personalizar la experiencia del usuario, proporcionar contenido relevante, mejorar nuestros servicios y comunicarnos con los usuarios.</p>
    <p>No compartimos información personal con terceros sin el consentimiento expreso del usuario, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos, propiedad o seguridad.</p>
    <p><strong>Seguridad de la Información:</strong></p>
    <p>Implementamos medidas de seguridad para proteger la información personal de nuestros usuarios contra accesos no autorizados, uso indebido o divulgación.
    </p>
    <p>Sin embargo, ningún método de transmisión por Internet o almacenamiento electrónico es 100% seguro, por lo que no podemos garantizar la seguridad absoluta de la información transmitida a través de nuestro sitio.</p>
    <p><strong>Cambios en la Política de Privacidad:</strong></p>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Se alentará a los usuarios a revisar periódicamente esta página para estar al tanto de cualquier cambio.</p>
    <p>Al utilizar nuestro sitio web, aceptas los términos y condiciones de esta Política de Privacidad. Si tienes alguna pregunta o inquietud sobre nuestras prácticas de privacidad, no dudes en ponerte en contacto con nosotros a través de la información de contacto proporcionada en nuestro sitio web.</p>
  </section>
</div>