/* You can add global styles to this file, and also import other style files */
section {
  padding: 4rem 0;  
}

.games-row {
  margin-bottom: 4rem;
}

.display-6 {
  font-size: 2rem
}

.btn {
  -webkit-box-shadow: inset 0 -0.25rem 0 rgb(0 0 0/15%);
  box-shadow: inset 0 -0.25rem 0 rgb(0 0 0/15%);
}